{{!-- <div class="row"> --}}
  {{!-- <div class="col-md-6 mx-auto"> --}}
    <div class="card card-body">
      {{!-- <img class="logo" src="/img/logo.png"> --}}
      <h3 class="text-center">Account Register</h3>
      <form action="/users/register" method="post">
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control" name="fname" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" name="lname" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" value="{{email}}" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" value="{{password}}" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="password2" class="form-control" value="{{password2}}" required>
        </div>
        <div class="form-group">
          <input type="checkbox" name="ds" id="ds" class='filled-in'>
          <label for="ds">Data-Structures</label>
          <input type="checkbox" name="java" id="java" class='filled-in'>
          <label for="java">JAVA</label>
          <input type="checkbox" name="cpp" id="cpp" class='filled-in'>
          <label for="cpp">C++</label>
        </div>
        <div class="div center-align">
          <button type="submit" class="btn green btn-primary darken-1">Submit</button>
        </div>
      </form>
    </div>
    {{!-- </div> --}}
  {{!-- </div> --}}